
<div class="contenedor">

<section>
    <article class="panel-creacion center z-depth-4">
        <div class="panel-C-A bordes center">
            <button  class="btn waves-effect waves-leght Bcrear" id="create_note"> create note 
            </button>
        </div>
        <hr>
        <div class="panel-C-B" name="holaaa" id="bandeja">

        </div>
    </article>

    <article class="panel-org center">
        <div class="carousel">                  
            
            <div class="dia carousel-item center">
                <div class="fecha hoy">
                    <p class="dia_sem">{{dia[0]}}</p>
                    <div class="cajon_fecha">
                        <p class="contenido_fecha">{{dia_mes[0]}}</p>
                        <p class="contenido_fecha">{{ano}}</p>
                    </div>
                </div>
                <div id= caja_drop1 class="drop_here">
                        
                </div>
            </div>
            
            <div class="dia carousel-item center">
                <div class="fecha">
                    <p class="dia_sem">{{dia[1]}}</p>
                    <div class="cajon_fecha">
                        <p class="contenido_fecha">{{dia_mes[1]}}</p>
                        <p class="contenido_fecha">{{ano}}</p>
                    </div>                   
                </div>
                <div id= caja_drop2 class="drop_here" >
                        
                </div>
            </div>
            
            <div class="dia carousel-item center">
                <div class="fecha">
                    <p class="dia_sem">{{dia[2]}}</p>
                    <div class="cajon_fecha">
                        <p class="contenido_fecha">{{dia_mes[2]}}</p>
                        <p class="contenido_fecha">{{ano}}</p>
                    </div>                   
                </div>
                <div id= caja_drop3 class="drop_here" >
                        
                </div>
            </div>
            
            <div class="dia carousel-item center">
                <div class="fecha">
                    <p class="dia_sem">{{dia[3]}}</p>
                    <div class="cajon_fecha">
                        <p class="contenido_fecha">{{dia_mes[3]}}</p>
                        <p class="contenido_fecha">{{ano}}</p>
                    </div>                    
                </div>
                <div id= caja_drop4 class="drop_here" >
                        
                </div>
            </div>
            
            <div class="dia carousel-item center">
                <div class="fecha">
                    <p class="dia_sem">{{dia[4]}}</p>
                    <div class="cajon_fecha">
                        <p class="contenido_fecha">{{dia_mes[4]}}</p>
                        <p class="contenido_fecha">{{ano}}</p>
                    </div>
                </div>
                <div id= caja_drop5 class="drop_here">
                        
                </div>
            </div>

        </div>
    </article>
</section>
<aside>
    <p class="titulo_aside"></p>
    <hr>
    <div style=" color: #ffffff; margin: 5%;">

    </div>
</aside>



<div class="overlay" id="overlay">

    <div class="pop_up z-depth-5">
        <button class="btn btn-cerrar-pop_up right white" id="cerrar-pop_up"> <i class="material-icons"> close </i></button>

            <div class="caja_informacion-note card-panel z-depth-5 ">
                <div class="caja-textos">
                    
                    <div class="input-field">
                        <label for="Title" >note title</label>
                        <input  id="Title" type="text" class="validate">
                    </div>
           
                    <div class=" input-field col s6">
                        <i class="material-icons prefix">description</i>
                        <textarea id="description" class="text  materialize-textarea" maxlength="200"></textarea>
                        <label for="description">description</label>
                    </div>
               
                </div>
                <p>activation time:</p>
               
                <div class= "Caja-Time bottom">
                    <div class=" input-field input-Time">
                        <input type="time" id="TimeInicial" >
                        <label for="TimeInicial"> start time </label>
                    </div>

                    <div class=" input-field input-Time">
                        <input type="time" id="TimeFinal">
                        <label for="TimeFinal"> final time </label>
                    </div>
                </div>
            </div>
        
            <div class="caja_estilos-note">
                <br>
                <label for="colorOfNote"> Note color: </label>
                <input id="colorOfNote" type="color" value="#ffffff" id="colorOfNote">
                <hr style=" margin: 15px 0px 5px 0px;">
                <p> previously used colors: </p>
                <div class="colorsSaved">

                </div>
                <button class="btn-crear" (click)="addNote()"> create </button>   
            </div>

    </div>
</div>
</div>