
    .Cuestionario{
        display: inline-block;
        position: relative;
        left: 2%;
        width: 20%  20% 20px 20px;
        top:40px;
        color: #581845;
        
        }
        input:focus {
            border-bottom: 1px solid #581845 !important;
            box-shadow: 0 1px 0 0 #581845 !important;
          }
    
          label.active {
            color: #581845 !important;
          }