<br><br>
    <div m class="card z-depth-3" style="width: 70%;height: 100%; margin-left: 2%; color:#581845">
        <h3>New Group</h3>
        <input type="file" class="d-none" (change)="onPhotoSelected($event)" #photoInput>
        <img [src]="photoSelected" class="img-fluid" alt="No image" (click)="photoInput.click()" style="width: 20%;">
   
    <div class="row" style="margin-left:2%;">
        
            <h5 style="margin-left: 1%;">Title</h5>
            <div class="input-field col s12">
                <input type="text" id="title" placeholder="Enter title of the article"
                    class="materialize-textarea">
            </div>
            <h5 style="margin-left: 1%;">Introduction</h5>
            <div>
                <textarea id="intro" #intro placeholder="Enter the introduction of the article max 700 characters"
                    class="materialize-textarea"></textarea>
            </div>
        </div>


        <button (click)="verificacion()" >
            <h6>Create</h6>
        </button>
    </div>
