<div style="color:#3c0074; margin-top:2%" infiniteScroll [infiniteScrollDistance]="2"  (scrolled)="Prueba1()">
    <br><br>
    <div class="row">
    <button  (click)="grupos()" class="waves-effect waves-light btn col s4 offset-s1"
    style="color:white;  background:#3c0074;" >Groups</button>



    <button  (click)="paginas()" class="waves-effect waves-light btn col s4 offset-s2"
    style="color:white;  background:#3c0074;" >Pages</button>
</div>
    </div>
    <div id="Homegenerator1" class="row" ></div>
    
    <button  (click)="Prueba1()" class="Boton" >
        
        <h5>¿No se genera? </h5>
        <h5>precione aca </h5>
    </button>