<div  infiniteScroll [infiniteScrollDistance]="2"  (scrolled)="Prueba1()">
    <br><br>
    <div style="width: 70%; margin-left: 2%;">
    <button  (click)="grupos()" class="waves-effect waves-light btn"
    style="color:#ffc305;  background:#581845; display: block-inline;;width: 48%; margin-top:2%" >Groups</button>
    <button  (click)="paginas()" class="waves-effect waves-light btn"
    style="color:#ffc305;  background:#581845; display: block-inline;;width: 48%;margin-left: 4% ; margin-top:2% " >Pages</button>
</div>
    <div id="Homegenerator1"></div>
    
    <button  (click)="Prueba1()" class="Boton" >
        
        <h5>¿No se genera? </h5>
        <h5>precione aca </h5>
    </button>
    </div>