<br><br>

<div class="row" >
    <div>
        <div class="card z-depth-3" style="color: #3c0074; width: 25%; position:fixed;margin-left: 73%;margin-top:0%;">
            <h3 style="text-align: center;">Modules</h3>
            <div class="card z-depth-3" style="width:94%;margin-left:3%;">
                <h4 style="margin-left: 3%;">Paragraph</h4>
                <li class="divider" style="height:5px;"></li>
                <a class="btn-floating waves-effect waves-light " style="background-color:#3c0074;margin-left:23% ;font-size: 40px; margin-bottom: 5px;margin-top: 5px; ">
                    <i class="buttom material-icons" style="font-size: 35px" (click)="AgregarParrafo()">add_circle</i>
                </a>
                <a class="btn-floating waves-effect waves-light " style="background-color:#3c0074;margin-left:23% ;font-size: 40px; margin-bottom: 5px;;margin-top: 5px;">
                    <i class="buttom material-icons" style="font-size: 35px" (click)="EliminarParrafo()">remove_circle</i>
                </a>
            </div>

            <div class="card z-depth-3" style="width:94%;margin-left:3%;">
                <h4 style="margin-left: 3%;">Images</h4>
                <li class="divider" style="height:5px;"></li>
                <a class="btn-floating waves-effect waves-light " style="background-color:#3c0074;margin-left:23% ;font-size: 40px; margin-bottom: 5px;;margin-top: 5px;">
                    <i class="buttom material-icons" style="font-size: 35px" (click)="AgregarImagen()">add_circle</i>
                </a>
                <a class="btn-floating waves-effect waves-light " style="background-color:#3c0074;margin-left:23% ;font-size: 40px; margin-bottom: 5px;;margin-top: 5px;">
                    <i class="buttom material-icons" style="font-size: 35px" (click)="EliminarImagen()">remove_circle</i>
                </a>
            </div>

            <div class="card z-depth-3" style="width:94%;margin-left:3%;">
                <h4 style="margin-left: 3%;">Video</h4>
                <li class="divider" style="height:5px;"></li>
                <a class="btn-floating waves-effect waves-light " style="background-color:#3c0074;margin-left:23% ;font-size: 40px; margin-bottom: 5px;;margin-top: 5px;">
                    <i class="buttom material-icons" style="font-size: 35px" (click)="Agregarvideo()">add_circle</i>
                </a>
                <a class="btn-floating waves-effect waves-light " style="background-color:#3c0074;margin-left:23% ;font-size: 40px; margin-bottom: 5px;;margin-top: 5px;">
                    <i class="buttom material-icons" style="font-size: 35px" (click)="Eliminarvideo()">remove_circle</i>
                </a>
            </div>
        </div>
    </div>



    <!-- formularios -->
    <form #pageForm="ngForm"  class="Cuestionario"
        style="color:#3c0074;">
        <div style="margin-left: 2%;">
            <div class="card z-depth-3" style="width: 70%;height: 100%;">
                <h3>New page</h3>

                <input type="file" (change)="onPhotoSelected($event)" #photoInput>
                <img [src]="photoSelected" class="img-fluid" alt="No image" (click)="photoInput.click()"
                    style="width: 20%;">
            </div>

            <div class="row">
                <div class="card z-depth-3 " style="width: 70%;height: 100%;">
                    <h5 style="margin-left: 1%;">Title</h5>
                    <div class="input-field col s12">
                        <input type="text" name="title" id="title" placeholder="Enter title of the article"
                            class="materialize-textarea">
                    </div>
                    <h5 style="margin-left: 1%;">Introduction</h5>
                    <div>
                        <textarea name="intro" id="intro" 
                            placeholder="Enter the introduction of the article max 700 characters"
                            class="materialize-textarea"></textarea>
                    </div>
                    <h5 style="margin-left: 1%;">Paragraph 1</h5>
                    <div>
                        <textarea name="cont" id="cont" placeholder="Enter the text contenide, this section is in reformed"
                            class="materialize-textarea"></textarea>
                    </div>
                </div>
            </div>

            <div id="sector">
                <h5>Optional sector</h5>
            </div>




            <div class="card z-depth-3" style="width: 70%">
                <a style="color: #581845;">Themes</a>
                <select class="browser-default custom-select"
                    style="width: 25% ; display: inline-block; margin-left: 5%;" name="like1" id="like1">
                    <option value=0>None</option>
                    <option value=1>Math</option>
                    <option value=2>languaje</option>
                    <option value=3>Math</option>
                    <option value=4>Fisic</option>
                    <option value=5>Biology</option>
                    <option value=6>Astronomy</option>
                    <option value=7>Technology</option>
                    <option value=8>Human</option>
                    <option value=9>Art</option>
                </select>
                <select class="browser-default custom-select"
                    style="width: 25% ; display: inline-block ;margin-left: 5%;" name="like2" id="like2">
                    <option value=0>None</option>
                    <option value=1>Math</option>
                    <option value=2>languaje</option>
                    <option value=3>Math</option>
                    <option value=4>Fisic</option>
                    <option value=5>Biology</option>
                    <option value=6>Astronomy</option>
                    <option value=7>Technology</option>
                    <option value=8>Human</option>
                    <option value=9>Art</option>
                </select>
                <select class="browser-default custom-select"
                    style="width: 25% ; display: inline-block; margin-left: 5%;" name="like3" id="like3">
                    <option value=0>None</option>
                    <option value=1>Math</option>
                    <option value=2>languaje</option>
                    <option value=3>Math</option>
                    <option value=4>Fisic</option>
                    <option value=5>Biology</option>
                    <option value=6>Astronomy</option>
                    <option value=7>Technology</option>
                    <option value=8>Human</option>
                    <option value=9>Art</option>
                </select>
            </div>
        </div>

        
    <button class="btn waves-effect waves-light" type="submit" name="action" style="background-color:#3c0074; margin-left:2%" (click)="imagenes(1)">Submit
    <i class="material-icons right" >send</i>
    </button>

    </form>
