

<nav class="myCanvas">
  <div class="nav-wrapper">
    <a href="/Explorar"><img src='http://localhost:3000/Storage//LogoA2.png' class="brand-logo" style="width: 60px;  margin-left:2%;">
      <h5 style="color: white ; margin-left: 100px;" [routerLink]="['Explorar']" class="brand-logo">WorldLO</h5></a>
    <a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li> <a class="s btn-flat waves-effect waves-leght " [routerLink]="['Explorar']">Explore</a> </li>
      <li> <a *ngIf="true" class="s dropdown-trigger btn-flat waves-effect waves-leght" data-target="tools">tools</a> </li>
      <li> <a *ngIf="true" class="s dropdown-trigger btn-flat waves-effect waves-leght" data-target="drop">Create</a> </li>

      <li> 
        <ul id="tools" class="dropdown-content" style=" background: #020690;">
          <li> <a class="waves-effect waves-leght" [routerLink]="['organizer']" style="color:white">organizer</a></li>
        </ul>
      </li>

      <li> 
        <ul id="drop" class="dropdown-content" style=" background: #020690;">
          <li><a class="waves-effect waves-leght" [routerLink]="['Creacion']" style="color:white">Pages</a></li>
          <li><a class="waves-effect waves-leght" [routerLink]="['CExamenes']" style="color:white">Exam</a></li>
          <li><a class="waves-leght" style="color:white" [routerLink]="['CreateGroup']">Groups </a></li>
        </ul>
      </li>
    </ul>
  </div>


    <!-- para el modo responsive -->

</nav>
<div class="nav-content">
  <ul class="sidenav" id="mobile-demo" style="background-color: #3c0074; opacity: 92%;">

    <li><a style="color:white" [routerLink]="['Explorar']">Explore</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a [routerLink]="['Creacion']" style="color:white;">Pages</a></li>
    <li><a [routerLink]="['CExamenes']" style="color:white">Exam</a></li>
    <li><a style="color:white;" [routerLink]="['CreateGroup']">Groups </a></li>
    <li class="divider" tabindex="-1"></li>
    <div id="Encabezado2" class="down">
   <!-- para el modo responsive -->
    </div>
  </ul>
</div>
<br>
<div style="left:90% ; top:85% ; position: fixed;" id="Ms" >
  <span class="badge"style="color:black ;margin-left:-20px; margin-top: -10px; " id="notificaion"></span>
  <a class="btn-floating btn-large red">
    <i class="large material-icons"  [routerLink]="['Chat']">chat</i>
  </a>
</div>

<router-outlet><!--Aca se muestra las paginas--></router-outlet>
<br><br>



<footer class="Endcredits">
  <a class="Endcredits" style="z-index: 10;">Copyright &copy; Sico .Ltd all rightsreserved 2020 </a>
</footer>
