.myCanvas{
    background: linear-gradient(to right, #3c0074, #020690);
    position:absolute; 
    top: 0%;


width:100%;
}

.tata{ 
display: inline-block; /*escribir consecutivo*/

position: relative;
left:60%;
}

.s{
    margin: 0px 2% 0px 0px ;
    color: white;
}

.Endcredits a{
    position: fixed;
    background: linear-gradient(to right, #3c0074, #020690);
color: white;
top:98%;
text-align: center;
left: 25%;
width:50%;
}
