<div class="parallax-container" style="width: 100%; margin-top: 5.5%;">
    <div class="parallax"><img src="https://www.xtrafondos.com/wallpapers/nubes-abstractas-iluminadas-4709.jpg"></div>
</div>

<div class="slider" style="width: 100%; margin-top: 2%;">
    <ul class="slides">
        <li>
            <img src="https://www.xtrafondos.com/wallpapers/espacio-abstracto-3088.jpg"> <!-- random image -->
            <div class="caption center-align">
                <h3>Slogan</h3>
                <h5 class="light grey-text text-lighten-3">“No le huyas al futuro, adáptate junto a nosotros”</h5>
            </div>
        </li>
        <li>
            <img src="https://www.xtrafondos.com/wallpapers/nubes-abstractas-iluminadas-4709.jpg"> <!-- random image -->
            <div class="caption left-align">
                <h3>Misión</h3>
                <h5 class="light grey-text text-lighten-3">Ayudar a las micro, pequeñas y medianas empresas con el
                    cambio digital, proporcionándole herramientas y medios de divulgación para su comercialización
                    electrónica. Además de generar nuevos entornos de competición beneficiosos para los clientes y su
                    facilidad en las compras.</h5>
            </div>
        </li>
        <li>
            <img src="https://www.xtrafondos.com/wallpapers/nebulosa-rosa-en-el-universo-4459.jpg">
            <!-- random image -->
            <div class="caption right-align">
                <h3>Visión</h3>
                <h5 class="light grey-text text-lighten-3">>A corto plazo pretendemos proporcionara nivel local a todas
                    las tiendas el sistema, paulatinamente a las mipymes del valle de aburra y posteriormente a nivel
                    nacional e internacional siendo una empresa competitiva en el mercado internacional.</h5>
            </div>
        </li>
    </ul>
</div>

<div class="row" style="width: 100%;  margin-top: 2%;">
    <div class="col s8  deep-purple accent-4 ">
        <div class="card-content white-text">
            <span class="card-title">Card Title</span>
            <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because adasdasdasdadsdadasdasdasd require little markup to use effectively.</p>
        </div>
    </div>
    <div class="col s4">
        <div class="card deep-purple accent-4">
            <div class="card-content white-text">
                <span class="card-title">Card Title</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because adasdasdasdadsdadasdasdasd require little markup to use effectively.</p>
            </div>
        </div>
        <div class="card  deep-purple accent-4">
            <div class="card-content white-text">
                <span class="card-title">Card Title</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because adasdasdasdadsdadasdasdasd require little markup to use effectively.</p>
            </div>

        </div>




    </div>



</div>





<div class="parallax-container" style="width: 100%;  margin-top: 2%;">
    <div class="parallax"><img src="https://www.xtrafondos.com/wallpapers/nebulosa-rosa-en-el-universo-4459.jpg">
    </div>
    <div style="margin-top: 10%;">
        <div class="row" style="width: 30%; margin-left: 27%; display: inline-block; ">
            <div class="col s12 m6">
                <div class=" circle card deep-purple accent-4">
                    <div class="card-content white-text">
                        <span class="card-title">Personas</span>
                        <p>Crea o ingresa para usuarios que solo desean comprar</p>
                    </div>
                    <div class="card-action">
                        <a href="usuario">ir</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="width: 30%; display: inline-block;">
            <div class="col s12 m6">
                <div class="circle card deep-purple accent-4">
                    <div class="card-content white-text">
                        <span class="card-title">Tiendas</span>
                        <p>Ingresa a la seccion de tienda, para vender tus productos</p>
                    </div>
                    <div class="card-action">
                        <a href="registro">ir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>







</div>