<br><br>
<div id="sector" class="card z-depth-3" style="margin-left: 2%;width: 70%;"></div>
<button style="margin-Left:10% ;" id="sector1" (click)="delete()">
</button>
<br>
<div class="card z-depth-3" style="margin-left: 2%;width: 70%;">
    <form>
        <textarea name="cont" style="margin-left: 2%; width: 96%;" #coment
            placeholder="Enter your coment of the article max 700 characters" class="materialize-textarea"></textarea>
        <input  style="color:#ffc305;  background:#581845;width: 100%; "type="file" class="waves-effect waves-light btn" (change)="onPhotoSelected($event)" >
        <br>
        <button  style="color:#ffc305;  background:#581845;display: block;width: 100%;"class="waves-effect waves-light btn" > Send a new coment</button>
    </form>
</div>
<br><br><br><br>
<div id="Public"></div>

<br><br><br><br>