
    .Come{
        display: inline-block;
        left: 5%;
        width: 40% ;
        top:40px;
        size: 10px 10px;
        color: #581845;
        
        }
    .Come1{
        display: inline-block;
        width: 10% ;
    }