<br><br>
<div class="row" >
  <div>
      <div class="card z-depth-3" style="color: #3c0074; width: 25%; position:fixed;margin-left: 73%;margin-top:0%;">
          <h3 style="text-align: center;">Modules</h3>
          <div class="card z-depth-3" style="width:94%;margin-left:3%;">
              <h4 style="margin-left: 3%;">Pregunte</h4>
              <li class="divider" style="height:5px;"></li>
              <a class="btn-floating waves-effect waves-light " style="background-color:#3c0074;margin-left:23% ;font-size: 40px; margin-bottom: 5px;margin-top: 5px; ">
                  <i class="buttom material-icons" style="font-size: 35px" (click)="Agregar()">add_circle</i>
              </a>
              <a class="btn-floating waves-effect waves-light " style="background-color:#3c0074;margin-left:23% ;font-size: 40px; margin-bottom: 5px;;margin-top: 5px;">
                  <i class="buttom material-icons" style="font-size: 35px" (click)="Eliminar()">remove_circle</i>
              </a>
          </div>

          <div class="card z-depth-3" style="width:94%;margin-left:3%;">
              <h4 style="margin-left: 3%;">Images</h4>
              <li class="divider" style="height:5px;"></li>
              <a class="btn-floating waves-effect waves-light " style="background-color:#3c0074;margin-left:23% ;font-size: 40px; margin-bottom: 5px;;margin-top: 5px;">
                  <i class="buttom material-icons" style="font-size: 35px" (click)="AgregarImagen()">add_circle</i>
              </a>
              <a class="btn-floating waves-effect waves-light " style="background-color:#3c0074;margin-left:23% ;font-size: 40px; margin-bottom: 5px;;margin-top: 5px;">
                  <i class="buttom material-icons" style="font-size: 35px" (click)="EliminarImagen()">remove_circle</i>
              </a>
          </div>
      </div>
  </div>
 <!-- manual -->
<div class="card z-depth-3 " style="width: 70%; left: 2%;">
    <form class="">
      <div class="row">
        <h3  style="color:#3c0074 ; margin-left:  2%;"class>Questionary</h3>
        <div class="input-field col s6">
          <h3  style="color:#3c0074 "class>Title</h3>
          <textarea id="title" class="materialize-textarea" ></textarea>
          <h3  style="color:#3c0074 "class>Description</h3>
          <textarea id="intro" class="materialize-textarea" ></textarea>
        </div>
      </div>
    </form>
  </div>
  <div id="sector"></div>
  <div class="card z-depth-3 " style="width: 70%; left: 2%;">
  <h1 id="id" style="color:#3c0074 ">Id:</h1></div>

  <button class="btn waves-effect waves-light" name="action" style="background-color:#3c0074; margin-left:2%" (click)="envioExam()">Submit
    <i class="material-icons right" >send</i>
    </button>
