<div class="row" style="margin-top: 5%;">
    <div class="col s3">
        <div class="scroll_vertical">
            <div class="collection card">
                <div id="chats1"><div id="chats"></div></div>
            </div>
        </div>
    </div>

    <div class="col s9">
        <div class="scroll_vertical2">
            <div class="collection card">
                <table>
                    <div id="mensajes">
                        <div id="master"></div>
                    </div>

                </table>
            </div>
        </div>
        <div class="col s10">
        <div class="input-field">
            
                <input id="envio" type="text" class="validate">
                <label for="password">Mensaje</label>
            </div>
        </div>
        <div class="col s2">
            <a class="waves-effect waves-light btn" style="width: 100%; margin-top: 15%" (click)="enviar()">Send</a>
        </div>
    </div>




</div>