div.scroll_vertical {
	height: 80vh;
    overflow-y: scroll;
}
div.scroll_vertical2 {
	height: 72vh;
    overflow-y: scroll;
}

input:focus {
    border-bottom: 1px solid #3c0074 !important;
    box-shadow: 0 1px 0 0 #3c0074 !important;
  }

  label.active {
    color: #3c0074 !important;
  }

  textarea:focus {
    border-bottom: 1px solid #3c0074 !important;
    box-shadow: 0 1px 0 0 #3c0074 !important;
  }
