
    .Come{
        display: inline-block;
        left: 5%;
        width: 40% ;
        top:40px;
        size: 10px 10px;
        color: #3c0074;
        
        }
    .Come1{
        display: inline-block;
        width: 10% ;
    }
    .img {
        width: 100%;
    }
    input:focus {
        border-bottom: 1px solid #3c0074 !important;
        box-shadow: 0 1px 0 0 #3c0074 !important;
      }
    
      label.active {
        color: #3c0074 !important;
      }
    
      textarea:focus {
        border-bottom: 1px solid #3c0074 !important;
        box-shadow: 0 1px 0 0 #3c0074 !important;
      }
      i:focus {
        border-bottom: 1px solid #3c0074 !important;
        box-shadow: 0 1px 0 0 #3c0074 !important;
      }